<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>


  <!-- <ion-img src="https://media.discordapp.net/attachments/686175527199047689/1106233493672960170/63160100.jpg?width=446&height=670" style="width:40%; height: 40%;"></ion-img> -->
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center" >
          <ion-img src="https://media.discordapp.net/attachments/686175527199047689/1106233493672960170/63160100.jpg?width=446&height=670"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  ชื่อ : นายวีรวัฒน์ สุราฤทธิ์ <br>
  ชื่อเล่น : บอม <br>
  อีเมล : 63160100@go.buu.ac.th <br>



